@font-face {
  src: url(../../game-assets/fonts/VPPixel-Simplified.otf);
  font-family: pixel;
}

:root {
  --introHex: #416fb7;
  --intro: rgba(65,111,183, 0.7);
  --highlandsHex: #3a8530;
  --highlands: rgba(58,133,48, 0.7);
  --tavernHex: #89260c;
  --tavern: rgba(137,38,12, 0.7);
  --creepyhouseHex: #4f141c;
  --creepyhouse: rgba(79,20,28, 0.7);
}

/******************************
* GENERAL
******************************/

* {
  box-sizing: border-box;
}

body {
  background: #333;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  font-family: pixel;
  letter-spacing: 2px;
}

/******************************
* OVERLAY
******************************/

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: white;
    opacity: 0;
    pointer-events: none;
}

/******************************
* INTRO SCREEM
******************************/

/* #intro-screen {
  display: none;
} */

@keyframes animateLogo {
    0% {
        transform: translateX(-50%) translateY(10px);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}

#logo {
    width: 60%;
    min-width: 500px;
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);
    /* animation: animateLogo 4s infinite ease-in-out; */
}

.animate {
    animation: animateLogo 3s infinite ease-in-out;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
}

.menu button {
    font-family: pixel;
    background: none;
    font-size: 25px;
    color: #000;
    font-weight: bold;
    letter-spacing: 10px;
    border: none;
    margin: 20px 0;
    outline: none;
    text-decoration: none;
}

.menu button:focus{
    outline: 0;
}

.menu button:hover{
    color: red;
    cursor: pointer;
}

#game-img, #gameover-img, #endscreen-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 1;
    pointer-events: none;
    object-fit: cover;
}


#gameover, #endscreen {
  opacity: 0;
  pointer-events: none;
  z-index: -10;
}

#gameover .menu, #endscreen .menu {
  z-index: -14;
  bottom: 20%;
}

#gameover .menu button, #endscreen .menu button {
  color: white;
}

#gameover .menu button:hover, #endscreen .menu button:hover {
  color: red;
}

#gameover.active, #endscreen .active {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

#gameover.active .menu, #endscreen .active .menu {
  z-index: 14;
}

/******************************
* TEXTGAME STYLES
******************************/

.box {
  background-color: var(--intro);
  font-family: pixel;
  color: #ebebeb;
  outline-style: solid;
  outline-width: 4px;
  padding: 6px;
  margin: 0px;
}

.box.intro {
  background-color: var(--intro);
}

.box.highlands {
  background-color: var(--highlands);
}

.box.tavern {
  background-color: var(--tavern);
}

.box.creepyhouse {
  background-color: var(--creepyhouse);
}

#grandparent {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  z-index: -1;
}

/* DEV-BOX LAYOUT */
#parent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "text dev"
    "option dev";
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 800px;
  height: 75%;
  grid-gap: 50px;
}

#dev-box {
  grid-area: dev;
  position: relative;
  width: 100%;
  height: 100%;
}

/* PRODUCTION LAYOUT */
 /*#parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "text"
    "option";
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 600px;
  height: 75%;
  grid-gap: 50px;
}

#dev-box {
  display: none;
  grid-area: dev;
  position: relative;
  width: 100%;
  height: 100%;
}*/


#textbox {
  grid-area: text;
  font-size: 18px;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
}

#optionbox {
  grid-area: option;
  position: relative;
  height: 100%;
  width: 100%;
}

.option {
  padding: 6px;
  font-size: 20px;
  height: 42px;
  color: #ebebeb;
  background: none;
}

#background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
}

#dev-box input {
  margin-top: 10px;
}

#dev-box button {
  margin: 10px 0;
}

.player-stats p {
  margin: 0;
}

#toggle-sound {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 70px;
}

/* #tutorial {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  background-color: var(--intro);
  text-align: center;
} */
